# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / Build
build/
dist/
*.spec
*.manifest

# Database
DATABASE/~$database_RDA.xlsm

# Licensing & Config
src/core/Licenza/manifest.json
src/core/Licenza/pyarmor.rkey
src/core/Licenza/validity.token
src/core/Licenza/config.dat

# Logs
Logs/
*.log

# IDE
.vscode/
.idea/

# Environment Secrets
.env
.env.*

# Licensing (Root copy)
Licenza/*.dat
Licenza/*.token
Licenza/*.rkey
